/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_settings.scss";

/* Each individual part of foundation that can be added in */
@import "../foundation/scss/foundation/components/global";
@import "../foundation/scss/foundation/components/grid";
@import "../foundation/scss/foundation/components/visibility";
@import "../foundation/scss/foundation/components/block-grid";
@import "../foundation/scss/foundation/components/type";
@import "../foundation/scss/foundation/components/buttons";
@import "../foundation/scss/foundation/components/forms";
@import "../foundation/scss/foundation/components/custom-forms";
@import "../foundation/scss/foundation/components/button-groups";
@import "../foundation/scss/foundation/components/dropdown-buttons";
@import "../foundation/scss/foundation/components/split-buttons";
@import "../foundation/scss/foundation/components/flex-video";
@import "../foundation/scss/foundation/components/section";
@import "../foundation/scss/foundation/components/top-bar";
@import "../foundation/scss/foundation/components/orbit";
@import "../foundation/scss/foundation/components/reveal";
@import "../foundation/scss/foundation/components/joyride";
@import "../foundation/scss/foundation/components/clearing";
@import "../foundation/scss/foundation/components/alert-boxes";
@import "../foundation/scss/foundation/components/breadcrumbs";
@import "../foundation/scss/foundation/components/keystrokes";
@import "../foundation/scss/foundation/components/labels";
@import "../foundation/scss/foundation/components/inline-lists";
@import "../foundation/scss/foundation/components/pagination";
@import "../foundation/scss/foundation/components/panels";
@import "../foundation/scss/foundation/components/pricing-tables";
@import "../foundation/scss/foundation/components/progress-bars";
@import "../foundation/scss/foundation/components/side-nav";
@import "../foundation/scss/foundation/components/sub-nav";
@import "../foundation/scss/foundation/components/switch";
@import "../foundation/scss/foundation/components/magellan";
@import "../foundation/scss/foundation/components/tables";
@import "../foundation/scss/foundation/components/thumbs";
@import "../foundation/scss/foundation/components/tooltips";
@import "../foundation/scss/foundation/components/dropdown";


.row h1 {
    color: red;
}
