<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="tom natt"/>
    <meta name="description" content="homepage of Tom Natt's site"/>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css" title="Default" />
</head>
<body>

    <header class="row">
        <h1>This is the title</h1>
    </header>

    <div class="row">
        {{ content }}
    </div>

    <footer class="row">
        <h6>And a little footer</h6>
    </footer>

</body>
</html>
